@{
	ViewData["Title"] = "About";
}
<h2>About Berra's Cinema</h2>

<h4>Berra's Cinema is run by Berra, a driven and ambitious man who've run the cinema scince he was 12 years old.</h4>


<div>
	<img src="~/images/Berra.jpg" class="img-circle" alt="A picture of Berra" width="500">
</div>

<div class="berra-quote">
	<blockquote>
		<p>"I like motion pictures"</p>
		<footer>Berra, 1934</footer>
	</blockquote>
</div>

<hr />
<p>Trailer for Berras favoirite movie: </p>
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q3fx6TugN7g"></iframe>
</div>
