@{
	ViewData["Title"] = "Home Page";
}
<body class="welcome-page-body">

	<h1 class="welcome-header">Welcome to Berras Cinema!</h1>

	<div class="container-fluid ticket-link">
		<a asp-controller="Screenings" asp-action="Index" class="container-fluid ticket-link">Buy tickets here</a>
	</div>

</body>

