body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.smallImage img {
	width: 100px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

.bookTicketImg {
	float: left;
}

.bookTicketImg img {
	width: 200px;
}

.detailsText {
	position: relative;
	left: 20px;
}

.detailsLinks {
	float: left;
	position: relative;
}

.details {
	background-color: lightgray;
	padding: 20px;
	height: 350px;
	margin-right: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}

	.detailsLinks {
		position: relative;
		left: 5px;
		top: 0px;
	}
}

@media screen and (max-width: 500px) {
	.details {
		background-color: lightgray;
		padding: 20px;
		height: 600px;
		margin-right: 10px;
	}
	.detailsText {
		left: 5px;
		float: left;
		clear: left;
	}
}


